---
title: DH2323 Project Blog
permalink: dgi17
layout: notitle
---

<div class="content">
    {% for post in site.posts %}
      {% if post.categories contains 'dgi' %}
        <div class="post-list">
          <h2 class="post-title">
            <a href="{{ post.url }}">{{ post.title }}</a>
          </h2>
          <div class="post-date">
            <time>{{ post.date | date_to_string }}</time>
          </div>
          <div class="excerpt">
            {{ post.excerpt }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
</div>
